*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.hero{
    position: relative;
    width: 100;
    height: 100vh;
    background: black;
}

nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover{
    color: plum;
}

.detel{
    margin-left: 8%;
    margin-top: 15%;
}


.detel h1{
    font-size: 40px;
    color: white;
    margin-bottom: 20px;
}

p{
    color: white;
}

span{
    color: orange;
}

.detel p{
    color: #555;
    line-height: 22px;
}

.detel a{
    background: white;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}
.images{
    width: 35%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 50px;
    transform: translateX(-50);
    transition: bottom 1s, left 1s;
}

.images:hover .girl{
    left: 45%;
}
.icons a{
    text-decoration: none;
    color: beige;
}
.icons ion-icon{
    margin-left: 7%;
    color: beige;
    margin-right: -100px;
    font-size: 40px;
}

.icons ion-icon:hover{
    color: rgb(59, 174, 209);
}

.about{
    width: 100%;
    padding: 100px 0px;
    background-color: black;
}

.about img{
    height: auto;
    width: 430px;
}

.about-text{
    width: 550px;
}

.myself{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.about-text h2{
    color: white;
    font-size: 55px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h3{
    color: white;
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 20px;

}

.about-text p{
    color: whitesmoke;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button{
   background-color: white; 
   color: black;
   text-decoration: none;border: 2px solid transparent;
   font-weight: bold;
   padding: 13px 30px;
   border-radius: 30px;
   transition: .4s;
}

button:hover{
    color: plum;
    border: 2px solid plum;
    cursor: pointer;
}

.service{
    background: black;
    width: 100%;
    padding: 100px 0px;
}

.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
  
}
.card:hover{
    background: #ff004f;
    transform: translateY(-10px);

}

.card {
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: white;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;
    transition: background 0.5s, transform 0.5s;
}

.svg {
    height: 50px;
    
    
    
}
.card path{
    font-size: 10px;
}

h3{
    color: black;
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p{
    color: black;
    font-size: 16px; 
    line-height: 27px;
    margin-bottom: 25px;
}

.card .button{
    background-color: black; 
    color: white;
    text-decoration: none;border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}

.card .button:hover{
    color: plum;
    border: 2px solid plum;
    cursor: pointer; 
}
#portfolio{
    padding: 50px 0;
}

.work h1{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.kazi{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    transition: background 0.5s, transform 0.5s;
}
.kazi img{
    width: 90%;
    border-radius: 10px;
    height: 60vh;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:20px;
    margin-top: 50px;
    padding: 20px 50px;
    
}
.kazi:hover{
    background: gray;
    transform: scale(1.0)
    
}
.kazi:hover .layer{
    height: 100%;
}
.layer h3{
    color: white;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
}
.layer{
    width: 100%;
    height: 0;
    background:linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    
}
.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    border-radius: 6px;
    padding: 14px 50px;
    text-decoration: none;
    transition: background 0.5s;
    color: #fff;
}
.btn:hover{
    background: #ff004f;
}
/*-------contact--------*/
.contact-left{
    flex-basis: 35%;

}
.contact-right{
    flex-basis: 60%;
    
}
.contact-left p{
    margin-top: 30px;
}
.container h1{
    color: white;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.cop p{
    width: 20px;
    height: 20px;
    display: inline-block;   
    
}
.cop{
    width: 20px;
    height: 20px;
}
.contact {
    margin-left: 50px;
    display: flex;
    
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
}
.contact-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: auto00px;
    text-align: center;
    line-height: 26px;
}

.icons{
    display: flex;
}

.icons ion-icon{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: plum;
    border-radius: 50%;
    margin: 22px 10px;
    font-size: 20px;
}
.icons ion-icon:hover{
    transform: scale(1.3);
    transition: .3s;
}

.end{
    position: absolute;
    color: white;
    bottom: 35px;
    font-size: 14px;
}

.topIcons{
      margin-left: 8%;
}